img,
svg {
  max-width: 100%;
  height: auto;
}

.duotone {
  background-color: $vermillion;
  display: flex;
  overflow: hidden;
  position: relative;
  transition: all 0.2s ease-in-out;

  img {
    filter: grayscale(100%);
    flex: 1 0 100%;
    mix-blend-mode: multiply;
    object-fit: cover;
    transition: all 0.2s ease-in-out;
  }

  // Corrige un bug sur Safari
  &.single__img,
  &.single__img img {
    align-self: flex-start; 
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: $violet;
    mix-blend-mode: lighten;
    transition: all 0.2s ease-in-out;
    z-index: 1;
  }
}