// Bug IOS
// => L'overflow doit être appliqué sur l'élément body ET html
// pour faire disparaître le scroll sur safari IOS

.noscroll,
.noscroll body {
  overflow: hidden;
}

.listUnstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px; // Fix for https://github.com/twbs/bootstrap/issues/25686
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}