
nav#mainNav.header__menu.menu(aria-label="Menu principal")
  ul.menu__list.listUnstyled
    li.menu__item
      a.menu__link(href="conservatoire.pug") Le conservatoire
    li.menu__item
      a.menu__link(href="#") Enseignements
    li.menu__item
      a.menu__link(href="agenda.pug") Agenda
    li.menu__item
      a.menu__link(href="#") Contact
    li.menu__item.menu__item--btn
      a.menu__link(href="inscription.pug") S'inscrire