.btn {
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 1px;
  font-weight: bold;
  
  padding: $space-2 $space-3;
  border: 1px solid $vermillion;
  color: $darkColor;
  @include fluid-type($small);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all .3s ease-in-out;

  @media (min-width: $mobile) {
    padding: $space-3 $space-4;
  }

  &:hover {
    box-shadow: inset 0 0 0 8px $vermillion;
  }

  &--outlined {
    border-color: $lightColor;
    color: $lightColor;

    &:hover {
      box-shadow: inset 0 0 0 8px $lightColor;
    }
  }

  &--dark {
    border-color: $darkColor;
    background-color: $darkColor;
    color: $lightColor;

    &:hover {
      box-shadow: none;
    }
  }
}

.btn__arrow {
  margin-right: $space-3;

  .btn--outlined & {
    path {
      fill: $lightColor;
    }
  }
}

.morelink {
  text-decoration: none;
  text-transform: uppercase;
  color: $darkColor;
  position: relative;
  display: inline-block;

  &::before,
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $darkColor;
  }

  &::before {
    transform: scaleX(1);
    transform-origin: right;
    transition: all .3s ease-in-out;
  }

  &::after {
    transform: scaleX(0);
    transform-origin: left;
    transition: all .3s ease-in-out .1s;
  }

  &:hover {
    &::before {
      transform: scaleX(0);
    }

    &::after {
      transform: scaleX(1);
    }
  }
}