block vars

include mixin.pug

doctype html
html(lang='fr')
  head
    meta(charset='utf-8')
    title Conservatoire Henri Dutilleux #{title}
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="Site du Conservatoire de Belfort")

    link(rel="stylesheet", href="../../scss/style.scss")
    script(type="module" src="../../js/scripts.js")

  body(class=`${bodyClass}`)
    button.btnGrid Afficher la grille
    include includes/header.pug
    main

      block main
      
    include includes/footer.pug
