.grid {

  padding-right: $marginPage;
  padding-left: $marginPage;

  @media (min-width: $tablet) {
    display: grid;
		gap: $gutter;

    // grid-auto-flow indique le fonctionnement de l'algorithme de placement automatique et
		// détaille comment les éléments placés automatiquement « coulent » dans la grille.
		// Avec la valeur "dense" l'algorithme utilisera une méthode de « regroupement dense »
    // où il essaie de remplir les trous dans la grille si des éléments plus petits arrivent ensuite.
    grid: auto-flow dense / repeat( #{$nbCol}, minmax( #{$colMin}, #{$colMax} ) );

		// Permet de centrer la grille dans la largeur de la page
		justify-content: center;	
  }
}
